/* Header Styling */

/* Logo Placeholder Styling */
.logo-placeholder {
    height: 50px;
    background-color: #ffb6c1;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    color: white; 
    font-weight: bold; 
    text-transform: uppercase; 
    text-align: center; 
}

/* Nav Intems styling */
.navbar-nav .nav-link {
    margin-right: 20px;
}

/* Search Bar */
.search-bar {
    width: 300px;
}

/* Sidebar Styling */
.sidebar {
    background-color: #f8e3ef;
}

.form-select {
    width: 100%;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* Product Card Styling */
.product-card {
    margin-bottom: 20px;
  }

  /* Product img styling */
  .product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

